body {
    padding: 0;
    margin: 40px;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
}

header h1 {
    text-align: center;
}

.header_line {
    width: 99%;
    height: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.mars_vacation {
    width: 80%;
    height: 35em;
}

main {
    padding: 3rem;
}

.text_box {
   height: 7rem; 
}

.list_box {
    display: flex;
    justify-content: space-around;
}

.dropdown_menu_button, .dropdown_menu_button_2 {
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
}

.dropdown_menu_box, .dropdown_menu_box_2 {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_menu_box a, .dropdown_menu_button_2 a {
    display: block;
    float: none;
    text-decoration: none;
    color: black;
}

.show {
    display: block;
}

.social_media_box {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_media_img_facebook {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.social_media_img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}